{% extends "base.html" %}

{% block head_imports %}
<link rel="stylesheet" href="{{url_for('static', filename='styling/home/home.css')}}">
{% endblock head_imports %}

{% block content %}
<div class="container">
    <aside>
      <section class="friends">
        {% if friends %}
          {% for friend, id in friends %}
            <div class="friend" user-id="{{id}}">{{friend}}</div>
          {% endfor %}
        {% endif %}
      </section>
        <section class="config">
            <div>settings</div>
            <div class="profile">profile
                <div class="profile_popup dnone">
                    <div>Username: {{user_info.username}}</div>
                </div>
            </div>
            <div class="add_friend">add_friend
                <div class="total_recieved_friends_request">
                    {% if total_received_friends_reqs %}
                    {{ total_received_friends_reqs|length }}
                    {% endif %}
                </div>
            </div>
            <div class="add_friends_popup dnone">
                <h1>Add Friend</h1>
                <p>Add friend by their username</p>
                <div>
                    <input type="text" placeholder="username" class="add_username_input">
                    <button class="add_friend_submit_btn">add friend</button>
                </div>
                <div class="add_friend_error">
                </div>
                <hr>
                <br>
                <h3>Incoming friends requests</h3>
                {% if total_received_friends_reqs %}
                {% for username, id in total_received_friends_reqs %}
                  <div class="friend_request" user-id="{{id}}">
                    <p>{{username}}</p>
                    <div>
                      <button class="accept_fr" onclick="respond('{{id}}','accept')" >accept</button>
                      <button class="reject_fr" onclick="respond('{{id}}','reject')" >reject</button>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </aside>
    <main></main>
</div>

{% endblock content %}

{% block js_scripts %}

<script type='text/javascript' src="{{ url_for('static', filename='scripts/home/friends.js') }}"></script>

{% endblock js_scripts %}
