{% extends "base.html" %}

{% block head_imports %}
<link rel="stylesheet" href="{{url_for('static', filename='styling/home/home.css')}}">


{% endblock head_imports %}

{% block content %}
<div class="container">
    <aside>
      <section class="friends">
        {% if friends %}
          {% for friend, id in friends %}
            <div class="friend" user-id="{{id}}" onclick="chat({{id}}, '{{friend}}')">{{friend}}</div>
          {% endfor %}
        {% endif %}
      </section>
        <section class="config">
            <div>settings</div>
            <div class="profile">profile
                <div class="profile_popup dnone">
                    <div>Username: {{user_info.username}}</div>
                </div>
            </div>
            <div class="add_friend">add_friend
                <div class="total_recieved_friends_request">
                    {% if total_received_friends_reqs %}
                    {{ total_received_friends_reqs|length }}
                    {% endif %}
                </div>
            </div>
            <div class="add_friends_popup dnone">
                <h1>Add Friend</h1>
                <p>Add friend by their username</p>
                <div>
                    <input type="text" placeholder="username" class="add_username_input">
                    <button class="add_friend_submit_btn">add friend</button>
                </div>
                <div class="add_friend_error">
                </div>
                <hr>
                <br>
                <h3>Incoming friends requests</h3>
                {% if total_received_friends_reqs %}
                {% for username, id in total_received_friends_reqs %}
                  <div class="friend_request" user-id="{{id}}">
                    <p>{{username}}</p>
                    <div>
                      <button class="accept_fr" onclick="respond('{{id}}','accept')" >accept</button>
                      <button class="reject_fr" onclick="respond('{{id}}','reject')" >reject</button>
                    </div>
                  </div>
                {% endfor %}
                {% endif %}
            </div>
        </section>
    </aside>
    <main>
      <nav>
        <div class="ChatWith">
        </div>
        <div class="call-video">
          <button onclick="StartAudioCall()">Call
          </button>
          <button>Video</button>
        </div>
          <audio class="remoteAudio" autoplay playsinline></audio>
          <video class="remoteVideo" autoplay playsinline></video>
      </nav>
      <section class="msg_screen">

      </section>
      <div class="inputs">
        <input placeholder="send a message.." class="input_btn">
        <div class="up_btns">
          <button>file</button> 
          <button>emoji</button>
          <button class="send_btn" onclick="send_msg()">send</button>
        </div>
      </div>
    </main>
</div>

{% endblock content %}

{% block js_scripts %}
<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
<script> const current_user_id = {{session['user_id']}}</script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/home/friends.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/home/chat.js') }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='scripts/home/voice_call.js') }}"></script>

{% endblock js_scripts %}
