@import "../defaults.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
li,
ul,
button {
    all: unset;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-primary-dark);
    font-family: "Aeonik";
    line-height: 1.6;
    padding: 3rem 1rem;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    min-height: 85vh;
    display: flex;
    gap: 2rem;
}

aside {
    background-color: rgb(22, 22, 22);
    width: 30%;
    border-radius: 16px;
    padding: 3rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside .friends {
    height: 88%;
    background-color: rgba(245, 245, 220, 0.214);
    overflow-y: scroll;

}

aside .friends::-webkit-scrollbar {
    display: none;
}


aside .config {
    flex-grow: 1;
    background-color: black;
    border-radius: 16px;
}

main {
    background-color: rgb(22, 22, 22);
    border-radius: 16px;
    flex-grow: 1;
}