@import "../defaults.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a,
li,
ul,
button {
    all: unset;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-primary-dark);
    font-family: "Aeonik";
    line-height: 1.6;
    padding: 3rem 1rem;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    min-height: 85vh;
    display: flex;
    gap: 2rem;
}

aside {
    background-color: rgb(22, 22, 22);
    width: 30%;
    border-radius: 16px;
    padding: 3rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

aside .friends {
    height: 88%;
    overflow-y: scroll;
    padding: 0px 12px 0px 12px;

}
.friend {
  background-color: rgba(245, 245, 220, 0.1);
  font-size: 24px;
  margin: 12px 0px 12px 0px;
  cursor: pointer;
  padding: 12px;
  border-radius: 16px;

}

.friend:hover {
  background-color: rgba(245, 245, 220, 0.2);
}

aside .friends::-webkit-scrollbar {
    display: none;
}


aside .config {
    flex-grow: 1;
    background-color: black;
    border-radius: 16px;
}

main {
    background-color: rgb(22, 22, 22);
    border-radius: 16px;
    flex-grow: 1;
}

aside .config {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add_friend {
    position: relative;
}

.total_recieved_friends_request {
    color: white;
    background-color: red;
    border-radius: 50px;
    width: 25px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 80%;
    left: 90%;
}

.add_friends_popup {
    position: fixed;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(22, 22, 22);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border: 1px solid white;
}

.dnone {
    display: none;
}


.profile {
    position: relative;
}

.profile_popup {
    position: absolute;
    background-color: black;
    width: 250px;
    height: 250px;
    bottom: 250%;
    z-index: 9999;
    border-radius: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 24px;
}



.friend_request {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.accept_fr {
  background-color: green;
  color: white;
}


.reject_fr {
  background-color: #FF474C;
}


.accept_fr, .reject_fr {
  padding: .5rem;
  border-radius: 16px;
  cursor: pointer;
}
